
body {
  background-color: white;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.navbar {
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(167, 161, 161);
  /* margin-top: 5rem; */
  color: white;
  letter-spacing: 1.5px;
}
.nav-link {
  padding-top: 14px;
  text-align: center;
  width: 20vw;
  height: 3rem;
}
.nav-link:hover {
  background-color:rgb(138, 9, 73);
}
#header h1 {
  margin-left: 6px;
  font-size: 2rem;
  line-height: 1;
  text-align: left;
  color:rgb(138, 9, 73);
}
#header p{
  margin-top: 0.4rem;
  margin-left: 6px;
  text-align: left;
}
#heroImg {
  width: 100vw;
  height: 85vh;
  background: url('../src/assets/Hero.jpg') no-repeat center;
  background-size: cover;
}
#header-section {
  position: fixed;
}
#header {
  width: 100vw;
  height: 4rem;
  background-color: white;
}
#think-section {
  width: 100vw;
  height: 50vh;
  background-color: white;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  color: white;
}

#think-inner {
  width: 96vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(138, 9, 73);
  text-align: center;
}
/* #think-section h1,p {
  text-align: center;
} */
#button-container {
  width: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#button-container .btn {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0%;
}
.paragraphSection {
  width: 85vw;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.paragraphSection p {
  font-size: 1.1rem;
}
.paragraphSection p:first-child {
  color: rgb(138, 9, 73);
  font-weight: 600;
}
#address-section {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#address {
  width: 70vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#address h1 {
  color: rgb(138, 9, 73);
}
#footer-section {
  width: 100vw;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
#footer-section div:first-child {
  width: 100vw;
  height: 3rem;
  background-color: rgb(167, 161, 161);
  text-align: center;
  padding-top: 14px;
}
#footer-section p {
  text-align: center;
  font-weight: 600;
}
#footer-section div:last-child {
  width: 100vw;
  height: 3rem;
  text-align: center;
  padding-top: 14px;
  color: rgb(167, 161, 161);
}





